body {
  }
form {
background:#fff;
border-radius: 20px;
padding: 5%;
border: 10px solid purple;

}
h1 {
text-align:center;;

}
body, h1 {
  align-items: center;
  justify-content: center;
  font-family: "Edu VIC WA NT Hand Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 250px;
  letter-spacing: 4px;

}

.campos {
  margin-bottom: 25px;
  position: relative;
}

.campos input {
  border: 2px solid;
  border-radius: 6px;
  font-size: 16px;
  padding: 10px;
  transition: border-color 0.3s ease;
  width: 275px;
}

.campos input:focus {
  border-color: purple;
  outline: none;
}

.flotante {
  color: #81888f !important;
  font-size: 16px;
  left: 10px;
  padding: 0 4px;
  pointer-events: none;
  position: absolute !important;
  top: 5px;
  transition: all 0.3s ease;
}

.campos:has(input:focus) .flotante,
.campos input:not(:placeholder-shown) + .flotante {
  color: purple!important;
  font-size: 12px;
  top: -17px;
}

.msg {
  bottom: -18px;
  color: orangered;
  font-size: 12px;
  left: 4px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 0.4s ease;
}

.campos input:invalid:focus ~ .msg,
.campos input:invalid:not(:placeholder-shown) ~ .msg {
  opacity: 1;
}

button {
  background: purple;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  transition: all 0.3s ease;
  gap: 20%;
}

button:hover {
  background: black;
  border: 3px solid purple;

}
input[type="color"] {
    width: 60px;
    height: 60px;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 100%;
}
input[type="checkbox"],
input[type="radio"] {
    accent-color: purple; 
    cursor: pointer;
}
select, textarea {
    width: 275px;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.2s, box-shadow 0.2s;
    font-size: 15px;
}
select, textarea:focus {
      border: 2px solid purple;

}

/*Parte 2*/
.topnav {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 65px;
  align-items: center;
  justify-content: center;
  gap: 60%;
  padding: 0 10px;
  backdrop-filter: blur(10px) saturate(40%);
  background-color: rgb(127, 240, 113, 0.5);
  border-radius: 15px;

}
.topnav .menu {
  display: flex;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.topnav .menu a {
  text-decoration: none;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 10px;
}
.colormenu {
  color:black;
  text-decoration: none;

}
.colormenu:hover {
  color:white;
  letter-spacing: 3px;
  box-shadow: 10px 10px 10px black;
}

/*Adaptaciones*/

@media (max-width: 768px) {
 body {
    margin: 5%;
    max-width: 1264px;
      height: 1650px;

  }
  .espacio {
    display: flex;
    flex-wrap: wrap;
  }
   .tabla {
    display: flex;
    flex-wrap: wrap;
  }
  .creascroll {
  align-items: center;
  display: flex;
  font-size: 30px;
  justify-content: center;
}
}
@media (min-width: 768px) {
  body {
    margin: auto;
    max-width: 50%;
    background:#eee;
    
  }
  #intera {
    margin-top: 2%
  }
}
